extends layout

block content
	body(ng-app='aqpApp')
		.container(ng-controller="IndexController")
			.header.clearfix
			.jumbotron
				h1 Free Swag
				p.lead
					| {{ awesomePhrase }}
				p
					a.btn.btn-lg.btn-success(href='#', role='button') Get Some
				footer.footer

block additional_js
	script(src='js/indexController.js')
	script(type="text/javascript" charset="utf-8").
		$(document).ready( function() {

		});
