doctype html
html(lang='en')
  head
    title= title

    script(type='text/javascript', src='angular/angular.js')
    script(type='text/javascript', src='angular-timer/dist/assets/js/angular-timer-all.min.js')
    script(type='text/javascript', src='angular-timer/dist/assets/js/angular-timer-bower.js')
    script(type='text/javascript', src='bootstrap/dist/js/bootstrap.js')
    script(type='text/javascript', src='humanize-duration/humanize-duration.js')
    script(type='text/javascript', src='jquery/dist/jquery.js')
    script(type='text/javascript', src='momentjs/min/moment.min.js')
    script(type='text/javascript', src='momentjs/min/locales.min.js')

    link(rel='stylesheet', href='css/layout.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap-theme.css')

    block additional_js

    block content
